/*reset Page*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#container {
    height: 100%;
    width: 100%;
    background: url('../Images/Dog-House-Cartoon-1920x1200.jpg');
    background-size: cover;
    background-repeat: round;
}

#scorebar {
    margin-top: 5px;
    display: inline-flex;
    font-weight: bold;
    color: forestgreen;
    font-size: 25px;
    font-size: xx-large;
}

#UserName {
    color: sienna;
}

#l {
    float: right;
    margin-left: 700px;
}

#s {
    margin-left: 200px;
    word-spacing: 0px;
}

#score {
    text-align: left;
    color: sienna;
}

.egg {
    position: absolute;
    top: 18%;
    height: 8%;
    width: 4%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 15;
    background: url('../Images/easter-egg-3-icon4.png');
    background-size: cover;
    background-repeat: round;
}

#egg1 {
    left: 190px;
}

#egg2 {
    left: 380px;
}

#egg3 {
    left: 570px;
}

#egg4 {
    left: 760px;
}

#egg5 {
    left: 950px;
}

#egg6 {
    left: 1140px;
}

.chick {
    margin-left: 370px;
    display: block;
    position: absolute;
    bottom: 0px;
    height: 15%;
    width: 7%;
    background: url('../Images/chicken-egg-shell-icon1.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 15;
}

#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

#basket {
    height: 100px;
    width: 93px;
    position: absolute;
    bottom: 5px;
    background: url('../Images/basket.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 15;
}

#basketscore {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#life {
    text-align: right;
    color: sienna;
}

@font-face {
    font-family: angrybirds;
    src: url('../font/angrybirds-regular.ttf');
}